.link-shopee {
  background-color: #ee4d2d;
}
.link-shopeefood {
  background-color: #ee4d2d;
}
.link-grabfood {
  background-color: #00b14f;
}
.link-gofood {
  background-color: #ee2737;
}
.link-lazada {
  background-color: #000083;
}
.link-tokopedia {
  background-color: #03ac03;
}
.link-map {
  background-color: #4285f4;
}